<div class="footer">
    <!-- footer-->
    <div class="container">
        <div class="footer-block">
            <!-- footer block -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer-widget">
                        <h2 class="widget-title">Contacto</h2>
                        <ul class="listnone contact">
                            <li><i class="fa fa-map-marker"></i> Bogotá, Colombia </li>
                            <li><i class="fa fa-phone"></i> +57 (321) 123-4567</li>
                            <li><i class="fa fa-envelope-o"></i> contactenos@siglo21.com.co</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer-widget footer-social">
                        <!-- social block -->
                        <h2 class="widget-title">Redes sociales</h2>
                        <ul class="listnone">
                            <li>
                                <a href="#"> <i class="fa fa-facebook"></i> Facebook </a>
                            </li>
                            <li>
                                <a href="#"> <i class="fa fa-youtube"></i>Youtube</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.social block -->
                </div>
            </div>
            <div class="tiny-footer">
                <!-- tiny footer block -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="copyright-content">
                            <p>© Siglo21 2017 | all rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.tiny footer block -->
        </div>
        <!-- /.footer block -->
    </div>
</div>
