<div class="header" style="background-color: #666666">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <%= image_tag("home/logo.png", class: "img-responsive margin-auto") %>
            </div>
            <div class="col-lg-8">
                <div class="navigation">
                    <div id="navigation">
                        <ul>
                            <li class="active" style="font-size: 10px"><a href="index.html" title="Home">Inicio</a></li>
                            <li><a href="service-list.html" title="Service List">Quiénes somos</a></li>
                            <li><a href="blog-default.html" title="Blog ">Servicios</a>                           </li>
                            <li><a href="#" title="Features">Soluciones</a></li>
                            <li><a href="<%= signin_index_path %>" title="Features">Ingreso</a></li>
                            <li><a href="contact.html" title="Contact Us">Contacto</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
